* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

#root {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 10px;
}

#popupSection {
  background-color: lightcoral;
  width: 320px;
  height: 212px;
}

#contentScriptSection {
  background-color: lightseagreen;
  height: calc(100vh - 212px - 10px);
}

#sidePanelSection {
  background-color: lightblue;
  grid-row: span 2;
  height: 100vh;
}

.selection-description {
  text-align: center;
  color: #000;
  border-bottom: 1px solid #000;
}
